body {
  background-color: #fcd934;
}

.chibimaruko {
  width: 800px;
  height: 800px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.head {
  width: 540px;
  height: 750px;
  background-color: #0a3143;
  background-color: #010101;
  border: 10px #000 solid;
  border-radius: 100% 100% 0px 0px;
  position: absolute;
  top: 10px;
  left: calc((100% - 540px)/2);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.head::before {
  content: '';
  width: 540px;
  height: 90px;
  background-color: #000;
  position: absolute;
  display: block;
  border-radius: 100% 100% 0px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 343px;
  left: -5px;
}

.head::after {
  content: '';
  width: 1000px;
  height: 405px;
  background-color: #fcd934;
  position: absolute;
  display: block;
  border-radius: 100% 100% 0px 0px;
  top: 350px;
  left: calc((1000px - 540px)/-2);
}

.ear {
  width: 470px;
  height: 55px;
  position: absolute;
  top: 286px;
  left: calc((100% - 470px)/2);
}

.ear::before,
.ear::after {
  content: '';
  width: 45px;
  height: 65px;
  display: block;
  position: absolute;
  background-color: #faead4;
  border: 10px #000 solid;
  border-radius: 100%;
}

.ear::before {
  left: 0;
  -webkit-transform: rotate(-26deg);
  transform: rotate(-26deg);
}

.ear::after {
  right: 0;
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
}

.face {
  width: 415px;
  height: 365px;
  position: absolute;
  background-color: #faead4;
  border: 10px #000 solid;
  left: calc((100% - 415px)/2);
  top: 100px;
  z-index: 2;
  border-radius: 100% 100% 365px 365px;
}

.bangs {
  list-style: none;
}

.bangs > li {
  background-color: #0a3143;
  background-color: #010101;
  border-right: 10px #000 solid;
  border-bottom: 10px #000 solid;
  position: absolute;
}

.bangs > li:nth-child(1) {
  width: 22px;
  height: 72px;
  -webkit-transform: rotate(5deg) skewY(43deg);
  transform: rotate(5deg) skewY(43deg);
  left: 0;
  top: 69px;
}

.bangs > li:nth-child(2) {
  width: 49px;
  height: 107px;
  -webkit-transform: rotate(13deg) skewY(37deg);
  transform: rotate(13deg) skewY(37deg);
  left: 21px;
  top: -2px;
}

.bangs > li:nth-child(3) {
  width: 74px;
  height: 114px;
  -webkit-transform: rotate(24deg) skewY(40deg);
  transform: rotate(24deg) skewY(40deg);
  left: 74px;
  top: -42px;
}

.bangs > li:nth-child(4) {
  width: 94px;
  height: 106px;
  -webkit-transform: rotate(28deg) skewY(29deg);
  transform: rotate(28deg) skewY(29deg);
  left: 154px;
  top: -51px;
}

.bangs > li:nth-child(5) {
  width: 89px;
  height: 84px;
  -webkit-transform: rotate(42deg) skewY(32deg);
  transform: rotate(42deg) skewY(32deg);
  left: 245px;
  top: -19px;
}

.bangs > li:nth-child(6) {
  width: 70px;
  height: 52px;
  -webkit-transform: rotate(38deg) skewY(40deg);
  transform: rotate(38deg) skewY(40deg);
  left: 313px;
  top: 36px;
}

.bangs > li:nth-child(7) {
  width: 43px;
  height: 29px;
  -webkit-transform: rotate(42deg) skewY(41deg);
  transform: rotate(42deg) skewY(41deg);
  left: 360px;
  top: 88px;
}

.eyebrow {
  position: absolute;
  width: 100%;
}

.eyebrow::before,
.eyebrow::after {
  content: '';
  display: block;
  position: absolute;
  width: 64px;
  height: 128px;
  border-left: 10px #000 solid;
}

.eyebrow::before {
  -webkit-transform: rotate(57deg);
  transform: rotate(57deg);
  left: 68px;
  top: 30px;
}

.eyebrow::after {
  -webkit-transform: rotate(121deg);
  transform: rotate(121deg);
  right: 65px;
  top: 30px;
}

.eyes {
  width: 100%;
  position: absolute;
  top: 156px;
}

.eyes > span {
  width: 40px;
  height: 40px;
  display: block;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eyes > span.left {
  left: 120px;
}

.eyes > span.right {
  right: 120px;
}

/* .face:hover .eyes>span{
    width: 100px;
    background-color: #fff;
}
.face:hover .eyes>span::before{
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    top: calc((100% - 15px)/2);
    left: calc((100% - 15px)/2);

}

.face:hover .eyes>span.left{
    left: 80px;
}

.face:hover .eyes>span.right{
    right: 80px;
} */
.flush {
  width: 345px;
  position: absolute;
  top: 203px;
  left: calc((100% - 345px)/2);
}

.flush::before,
.flush::after {
  content: '';
  width: 65px;
  height: 65px;
  display: block;
  background-color: #fba292;
  border-radius: 100%;
  position: absolute;
}

.flush::before {
  left: 0;
}

.flush::after {
  right: 0;
}

.mouth {
  position: absolute;
  width: 75px;
  height: 35px;
  border-bottom: 7px #000 solid;
  border-radius: 100%;
  left: calc((100% - 75px)/2);
  bottom: 53px;
}

.face:hover .mouth {
  background-color: #a55055;
  border-bottom: none;
  border-radius: 0px 0px 50px 50px;
}
