@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

$color-black: #444140;
$color-white: #fff;
$color-blue: #5ac9e8;
$color-blue-dark: #57aebf;
$color-red: #ff5b5b;
$color-yellow: #f7e27f;

$size: 640px;
$head--border-radius: 49% 37% 31% 53%;

body {
  background-color: $color-yellow;
}

.capoo {
  width: $size;
  height: $size;
  position: relative;
}

.head {
  width: 345px;
  height: 317px;
  position: absolute;
  top: 216px;
  left: 185px;
  overflow: hidden;
  background-color: $color-blue;
  border-radius: $head--border-radius;
  z-index: 4000;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
  }

  &::before {
    width: 200px;
    height: 45px;
    bottom: 0;
    left: 70px;
    background-color: $color-white;
    border-radius: 60%;
    transform: rotate(8deg);
  }

  &::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 10px $color-black solid;
    border-right-color: transparent;
    border-radius: $head--border-radius;
    box-sizing: border-box;
  }
}

.eyes {
  width: 100%;
  position: absolute;
  top: 83px;
  left: 0;
  z-index: 5000;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: $color-black;
  }

  &::before {
    width: 52px;
    height: 69px;
    top: 0;
    left: 36px;
    border-radius: 63% 34% 46% 29%;
  }

  &::after {
    width: 55px;
    height: 72px;
    top: 17px;
    right: 24px;
    border-radius: 63% 63% 51% 62%;
  }
}

.mouth {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 120px;
  left: 133px;
  background-color: $color-red;
  border: 10px $color-black solid;
  border-radius: 0% 0% 48% 63%;
  z-index: 5000;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: $color-blue;
    border: 10px $color-black solid;
    border-radius: 0% 0% 60%;
    z-index: 5100;
    border-top: none;
    border-left: none;
  }

  &::before {
    width: 20px;
    height: 30px;
    top: -23px;
    left: -13px;
    transform: rotate(45deg);
  }

  &::after {
    width: 42px;
    height: 26px;
    top: -21px;
    right: -19px;
    transform: rotate(45deg);
  }
}

.blush {
  width: 100%;
  position: absolute;
  top: 163px;
  left: 0;
  z-index: 5000;

  span {
    width: 10px;
    height: 40px;
    display: block;
    position: absolute;
    background-color: $color-red;
    border-radius: 10px;

    &:nth-child(1) {
      height: 27px;
      top: 0;
      left: 22px;
      transform: rotate(8deg);
    }

    &:nth-child(2) {
      height: 27px;
      top: 0;
      left: 52px;
      transform: rotate(15deg);
    }

    &:nth-child(3) {
      height: 35px;
      top: 0;
      left: 73px;
      transform: rotate(15deg);
    }

    &:nth-child(4) {
      height: 31px;
      top: 12px;
      left: 253px;
      transform: rotate(15deg);
    }

    &:nth-child(5) {
      height: 31px;
      top: 17px;
      left: 275px;
      transform: rotate(15deg);
    }

    &:nth-child(6) {
      height: 24px;
      top: 18px;
      left: 304px;
      transform: rotate(15deg);
    }
  }
}

.ears {
  position: absolute;
  z-index: 3000;

  &.ears-left {
    width: 140px;
    height: 210px;
    top: 170px;
    left: 250px;
    background-color: $color-blue;
    border: 10px $color-black solid;
    border-radius: 208% 106% 0% 0%;
  }

  &.ears-right {
    width: 160px;
    height: 125px;
    top: 210px;
    right: 55px;
    background-color: $color-blue;
    border: 10px $color-black solid;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 46% 3% 0%;
    transform: rotate(79deg) skew(19deg, 2deg);
  }
}

.body {
  width: 165px;
  height: 260px;
  position: absolute;
  top: 270px;
  right: 0;
  background-color: $color-blue;
  border: 10px $color-black solid;
  border-left-color: transparent;
  border-radius: 10% 14% 75% 0%;
  z-index: 2000;

  &::after {
    content: '';
    width: 10px;
    height: 40px;
    display: block;
    position: absolute;
    right: 44px;
    background-color: $color-blue-dark;
    border-radius: 5px;
    box-shadow: 13px 3px 0 $color-blue-dark, 26px 5px 0 $color-blue-dark;
    transform: rotate(-12deg);
  }
}

.foot-front {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: $color-blue;
    border: 10px $color-black solid;
  }

  &::before {
    width: 32px;
    height: 40px;
    bottom: 95px;
    left: 270px;
    border-radius: 0% 0% 42% 81%;
  }

  &::after {
    width: 40px;
    height: 75px;
    bottom: 83px;
    right: 147px;
    border-radius: 0% 0% 110% 55%;
  }
}

.foot-back {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-color: $color-blue;
    border: 10px $color-black solid;
  }

  &::before {
    width: 22px;
    height: 34px;
    bottom: 96px;
    right: 110px;
    border-top-color: transparent;
    border-radius: 0% 0% 80% 80%;
    z-index: 1000;
  }

  &::after {
    width: 35px;
    height: 55px;
    bottom: 100px;
    right: 61px;
    border-left-color: transparent;
    border-radius: 0% 0% 58% 141%;
    z-index: 2000;
    transform: rotate(25deg);
    border-top: none;
  }
}

.chat {
  width: 230px;
  height: 188px;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80px;
  left: 15px;
  text-align: center;
  background-color: $color-white;
  border: 10px $color-black solid;
  border-radius: 49% 43% 44% 44%;
  z-index: 4000;

  span {
    font-size: 40px;
    font-family: 'Carter One', cursive;
    color: $color-black;
  }

  &::after {
    content: '';
    width: 36px;
    height: 21px;
    display: block;
    position: absolute;
    bottom: -19px;
    left: 108px;
    background-color: $color-white;
    border: 10px $color-black solid;
    z-index: 4100;
    transform: rotate(24deg);
    border-top: none;
    border-left: none;
  }
}
