article {
  width: 600px;
  height: 600px;
  position: fixed;
  top: calc((100% - 600px) / 2);
  left: calc((100% - 600px) / 2);
  overflow: hidden;
}

.head {
  width: 480px;
  height: 480px;
  position: absolute;
  top: calc((100% - 480px) / 2);
  left: 50%;
  transform: translateX(-50%);

  .eyes {
    position: absolute;
    top: 92px;
    background-color: #fff;
    border-radius: 100%;

    > span {
      &.eyebrow {
        width: 51px;
        height: 38px;
        display: block;
        position: absolute;
        top: -50px;
        background-color: #000;
        border-radius: 100%;
        border-top: 10px #fff solid;
      }

      &.eyeball {
        width: 15px;
        height: 30px;
        display: block;
        position: absolute;
        top: 50%;
        left: calc((100% - 15px) / 2);
        background-color: #000;
        border-radius: 100%;
        transform: translateY(-50%);
      }
    }

    &.eyes-left {

      // left: 100px;
      > span.eyebrow {
        left: 9px;
      }
    }

    &.eyes-right {

      // right: 100px;
      > span.eyebrow {
        right: 9px;
      }
    }
  }

  .face {
    width: 225px;
    height: 175px;
    position: absolute;
    left: 50%;
    background-color: #fff;
    border-radius: 100%;
    transform: translateX(-50%);
    //top: 180px;

    .nose {
      position: absolute;
      left: 50%;
      background-color: #000;
      transform: translateX(-50%);
      // width: 65px;
      // height: 47px;
      // border-radius: 100%;
      // top: 9px;
    }

    .mouth {
      position: absolute;
      top: 86px;
      left: 50%;
      border-radius: 100%;
      transform: scale(0.8) translateX(-50%);
      transform-origin: 0;
      // width: 200px;
      // height: 20px;
      // background-color:rgb(0, 0, 0);
    }
  }

  .flush {
    width: 105px;
    height: 105px;
    position: absolute;
    top: 162px;
    background-color: #f00;
    border-radius: 100%;

    &.flush-left {
      left: -20px;
    }

    &.flush-right {
      right: -20px;
    }
  }
}

// .bravo {
//     background-color:rgb(32, 35, 41);
// }
// .bravo .eyes {
//     width: 60px;
//     height: 60px;
// }
// .bravo .eyes.eyes-left {
//     left: 140px;
// }
// .bravo .eyes.eyes-right {
//     right: 140px;
// }
// .bravo .eyes>span.eyebrow {
//     opacity: 0;
// }
// .bravo .eyes>span.eyeball {
//     width: 30px;
//     height: 30px;
//     background-color: #fff;
//     border: 10px #000 solid;
// }
// .bravo .eyes.eyes-left>span.eyeball {
//     left: 10px;
// }
// .bravo .eyes.eyes-right>span.eyeball {
//     right: 10px
// }
// .bravo .face {
//     top: 200px;
// }
// .bravo .mouth {
//     border-bottom: 10px rgb(233, 30, 99) solid;
//     background-color:rgb(0, 0, 0);
//     width: 150px;
//     height: 42px;
// }
// .bravo .nose {
//     width: 65px;
//     height: 40px;
//     top: 0px;
//     border-radius: 100% 100% 100px 100px;
// }
// .bravo .flush {
//     opacity: 0;
// }
