article {
  width: 600px;
  height: 600px;
  position: fixed;
  left: calc((100% - 600px)/2);
  top: calc((100% - 600px)/2);
  overflow: hidden;
}

.head {
  width: 480px;
  height: 480px;
  position: absolute;
  top: calc((100% - 480px)/2);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.head .eyes {
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 92px;
}

.head .eyes > span.eyebrow {
  width: 51px;
  height: 38px;
  background-color: #000;
  border-radius: 100%;
  display: block;
  position: absolute;
  border-top: 10px #fff solid;
  top: -50px;
}

.head .eyes > span.eyeball {
  width: 15px;
  height: 30px;
  display: block;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: calc((100% - 15px)/2);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.head .eyes.eyes-left > span.eyebrow {
  left: 9px;
}

.head .eyes.eyes-right > span.eyebrow {
  right: 9px;
}

.head .face {
  width: 225px;
  height: 175px;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.head .face .nose {
  background-color: #000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.head .face .mouth {
  position: absolute;
  left: 50%;
  top: 86px;
  border-radius: 100%;
  -webkit-transform-origin: 0;
  transform-origin: 0;
  -webkit-transform: scale(0.8) translateX(-50%);
  transform: scale(0.8) translateX(-50%);
}

.head .flush {
  width: 105px;
  height: 105px;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  top: 162px;
}

.head .flush.flush-left {
  left: -20px;
}

.head .flush.flush-right {
  right: -20px;
}
