html,
body {
  width: 100%;
  height: 100%;
  background-color: #fc3;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.box {
  width: 200px;
  height: 160px;
  overflow: hidden;
  position: fixed;
  top: calc((100% - 160px)/2);
  left: calc((100% - 200px)/2);

  .eyeswrap {
    width: 100px;
    height: 160px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;

    &.eyes-left {
      float: left;
    }

    &.eyes-right {
      float: right;
    }
  }

  .eyes {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    -webkit-animation: eyeclose 6s 5s infinite;
    animation: eyeclose 6s 5s infinite;

    .ball {
      width: 30px;
      height: 30px;
      background-color: #000;
      position: absolute;
      border-radius: 100%;
      transition: all 0.1s;
      left: calc((100% - 30px)/2);
      bottom: 25%;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        background-color: #90949f;
        background-color: #fff;
        border-radius: 100%;
        right: 3px;
        top: 2px;
      }
    }
  }
}

@-webkit-keyframes eyeclose {

  0%,
  3%,
  6%,
  100% {
    height: 100%;
  }

  1.5%,
  4.5% {
    height: 5%;
  }
}

@keyframes eyeclose {

  0%,
  3%,
  6%,
  100% {
    height: 100%;
  }

  1.5%,
  4.5% {
    height: 5%;
  }
}