$color-mill-roof: #da6e65;
$color-mill-spin: #583c32;
$color-sun: #ffdd38;
$color-white: #fff;
$color-black: #2c2f36;

body {
  background-color: $color-black;

  &,
  html {
    width: 100%;
    height: 100%;
    position: relative;
  }

  * {
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-family: Amaranth, sans-serif;
  }

  label {
    width: 750px;
    height: 500px;
    margin: 50px auto;
    display: block;

    .sun,
    .moon {
      width: 75px;
      height: 75px;
      position: absolute;
      top: 15%;
      right: 10%;
      border-radius: 50%;
      transition: 2s;
    }

    .sun {
      background-color: $color-sun;
      opacity: 0;
    }

    .moon {
      opacity: 1;
    }

    .scene {
      width: 100%;
      height: 100%;
      position: relative;
      background: linear-gradient(#000, #1a45a0, #91cdff, #4caf50);
      background-size: 100% 200%;
      border-radius: 15px;
      transition: 2s;
      cursor: pointer;
    }

    #postcard {
      display: none;

      &:checked + .scene {
        background-position: 0 100%;

        .moon {
          opacity: 0;
        }

        .sun {
          opacity: 1;
        }

        #info {
          h1,
          ul,
          li,
          sup {
            color: $color-black;
          }

          .ch {
            display: block;
          }

          .en {
            display: none;
          }
        }
      }
    }
  }

  #windmill {
    position: absolute;
    bottom: 0;
    right: 155px;

    .millRoof {
      width: 100px;
      height: 80px;
      background-color: $color-mill-roof;
      border-radius: 60px 60px 0 0;
      box-shadow: 30px -10px 0 0 rgba(208, 100, 101, 50%) inset, -30px -10px 0 0 rgba(238, 130, 121, 30%) inset;
    }

    .millBase {
      width: 100px;
      position: relative;
      z-index: 2;
      border-bottom: 200px solid #f5f8fa;
      border-right: 32px solid transparent;
      border-left: 32px solid transparent;

      &::before,
      &::after {
        content: '';
        width: 30px;
        position: absolute;
        z-index: 1;
      }

      &::before {
        border-bottom: 200px solid #cdd2e4;
        margin-left: -45px;
        transform: skew(-9deg);
      }

      &::after {
        border-bottom: 200px solid #fcfeff;
        margin-left: 51px;
        transform: skew(9deg);
      }
    }

    .millSpin {
      width: 400px;
      height: 400px;
      position: absolute;
      top: -130px;
      left: -150px;
      z-index: 3;
      transform-origin: center;
      animation: spin 7s linear infinite;

      &::before {
        content: '';
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        top: calc((100% - 15px) / 2);
        left: calc((100% - 15px) / 2);
        background-color: #cdd2e4;
        border-radius: 100%;
        z-index: 4;
      }

      > span {
        width: 5px;
        height: 50%;
        display: block;
        position: absolute;
        left: calc((100% - 5px) / 2);
        background-color: $color-mill-spin;
        transform-origin: bottom;

        &::before {
          content: '';
          width: 35px;
          height: 3px;
          display: block;
          background-color: $color-mill-spin;
          box-shadow: 0 15px 0 0 $color-mill-spin, 0 30px 0 0 $color-mill-spin, 0 45px 0 0 $color-mill-spin, 0 60px 0 0 $color-mill-spin, 0 75px 0 0 $color-mill-spin, 0 90px 0 0 $color-mill-spin, 0 105px 0 0 $color-mill-spin, 0 120px 0 0 $color-mill-spin, 0 135px 0 0 $color-mill-spin, 0 150px 0 0 $color-mill-spin;
        }

        &::after {
          content: '';
          width: 5px;
          height: 150px;
          display: block;
          background-color: $color-mill-spin;
          box-shadow: 2px 0 0 0 $color-mill-spin, 16px 0 0 0 $color-mill-spin, 30px 0 0 0 $color-mill-spin;
        }

        &:nth-child(1) {
          transform: rotate(0deg);
        }

        &:nth-child(2) {
          transform: rotate(90deg);
        }

        &:nth-child(3) {
          transform: rotate(180deg);
        }

        &:nth-child(4) {
          transform: rotate(270deg);
        }
      }

      @keyframes spin {
        100% {
          transform: rotate(-360deg);
        }

        0% {
          transform: rotate(0deg);
        }
      }
    }
  }

  #info {
    width: 300px;
    position: absolute;
    top: 30px;
    left: 30px;

    .flag {
      width: 300px;
      height: 200px;
      position: relative;
      background-color: $color-white;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 40%);
      margin-bottom: 10px;

      &::before,
      &::after {
        content: '';
        width: 300px;
        height: 66.6px;
        display: block;
        position: absolute;
      }

      &::before {
        top: 0;
        left: 0;
        background-color: #b01523;
      }

      &::after {
        bottom: 0;
        left: 0;
        background-color: #1b448b;
      }
    }

    h1,
    ul > li,
    sup {
      color: $color-white;
    }

    h1 {
      padding: 10px 0;
      font-size: 2.76rem;
      font-weight: bold;
    }

    ul {
      line-height: 1.6em;

      sup {
        position: absolute;
        font-size: 0.5rem;
        vertical-align: super;
      }
    }

    .en {
      display: block;
    }

    .ch {
      display: none;
    }
  }
}
