body {
  background-color: #8abcda;

  * {
    box-sizing: border-box;
  }
}

.usagi {
  width: 640px;
  height: 450px;
  margin: 30px auto 0;
  position: absolute;
  bottom: 0;
  left: calc((100vw - 1090px) / 2);
  overflow: hidden;

  .head {
    width: 640px;
    height: 565px;
    position: absolute;
    top: 80%;
    left: calc((100% - 640px) / 2);
    background-color: #f8b4c1;
    border: 20px #522402 solid;
    border-radius: 477px / 543px;
    transition: all 0.6s;

    .wrap {
      width: 100%;
      height: 100%;
      position: relative;

      &::before,
      &::after {
        content: '';
        width: 80px;
        height: 160px;
        display: inline-block;
        position: absolute;
        background-color: #f8b4c1;
        border: 20px #522402 solid;
        border-bottom: none;
        transform-origin: bottom;
      }

      &::before {
        top: -177px;
        left: 173px;
        border-radius: 61% 38% 0 0;
        transform: rotate(-4deg);
      }

      &::after {
        top: -174px;
        right: 147px;
        border-radius: 82% 77% 0 0;
        transform: rotate(5.2deg);
      }
    }
  }

  .face {
    width: 170px;
    height: 250px;
    position: absolute;
    top: 75px;
    left: calc((100% - 170px) / 2);
    background-color: #fff;
    border-radius: 89%;

    &::before,
    &::after {
      content: '';
      width: 45px;
      height: 25px;
      display: block;
      position: absolute;
      background-color: #522402;
      border-radius: 57%;
    }

    &::before {
      top: 4px;
      left: -12px;
      transform: rotate(-20deg);
    }

    &::after {
      top: 4px;
      right: -9px;
      transform: rotate(20deg);
    }
  }

  .mouth {
    width: 65px;
    height: 70px;
    position: absolute;
    top: 160px;
    left: calc((100% - 65px) / 2);
    background-color: #f8b4c1;
    border: 19px #522402 solid;
    border-radius: 0% 0% 110% 110%;
    border-top: none;

    &::before,
    &::after {
      content: '';
      width: 27px;
      height: 40px;
      position: absolute;
      top: -40px;
      border: 20px #522402 solid;
    }

    &::before {
      left: -32px;
      border-top: none;
      border-left: none;
      border-radius: 100px 10px 160px 80px;
      transform: rotate(56deg);
    }

    &::after {
      right: -32px;
      border-top: none;
      border-right: none;
      border-radius: 10px 100px 80px 160px;
      transform: rotate(-56deg);
    }
  }

  .nose {
    width: 40px;
    height: 25px;
    position: absolute;
    top: 82px;
    left: calc((100% - 40px) / 2);
    background-color: #522402;
    border-radius: 48%;

    &::after {
      content: '';
      width: 20px;
      height: 65px;
      display: block;
      position: absolute;
      top: 10px;
      left: calc((100% - 20px) / 2);
      background-color: #522402;
    }
  }

  .flush {
    width: 100%;
    height: 100%;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 130px;
      height: 90px;
      display: block;
      position: absolute;
      top: 100px;
      background-color: #f6a2af;
      border-radius: 100%/ 90%;
    }

    &::before {
      left: 70px;
    }

    &::after {
      right: 70px;
    }
  }

  &:hover > .head,
  &:focus > .head,
  &:active > .head {
    top: 53%;
  }
}

.piske {
  width: 450px;
  height: 450px;
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1090px) / 2);
  overflow: hidden;

  .head {
    width: 100%;
    height: 575px;
    position: absolute;
    top: 80%;
    left: 0;
    background-color: #fff;
    border: 15px #40190f solid;
    border-radius: 580px / 550px;
    transition: all 0.6s;
  }

  .mouth {
    position: absolute;
    top: 100px;
    left: calc((100% - 80px) / 2);

    &::before,
    &::after {
      content: '';
      margin: auto;
      display: block;
      background-color: #fedc3a;
      border: 15px #40190f solid;
    }

    &::before {
      width: 50px;
      height: 30px;
      border-radius: 50px;
    }

    &::after {
      width: 40px;
      height: 40px;
      margin-top: -15px;
      border-radius: 100%;
    }
  }

  .eyes {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 125px;

    &::before,
    &::after {
      content: '';
      width: 30px;
      height: 30px;
      display: block;
      position: absolute;
      background-color: #40190f;
      border-radius: 100%;
    }

    &::before {
      left: 130px;
    }

    &::after {
      right: 130px;
    }
  }

  .flush {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 140px;

    &::before,
    &::after {
      content: '';
      width: 60px;
      height: 60px;
      display: block;
      position: absolute;
      background-color: #f6a2af;
      border-radius: 100% / 90%;
    }

    &::before {
      left: 50px;
    }

    &::after {
      right: 50px;
    }
  }

  &:hover > .head,
  &:focus > .head,
  &:active > .head {
    top: 40%;
  }
}
